## Structure WB data to HuruMap

In [27]:
import pandas as pd

# Load the WB data and takwimu indicators

In [28]:
# Kenya
# generate a dict from the indicators file
takwimu_indicators = pd.read_csv('../data/takwimu_indicators.csv',
                                 index_col=0, squeeze=True).to_dict()
# Gather indicator data on the selected country
data = pd.read_csv('../data/Kenya/WB_KEN.csv')

### Wrangle  by Indicator

In [39]:
# population total
def population_total():
    
    pop_code = ['SP.POP.TOTL.FE.IN','SP.POP.TOTL.MA.IN']

    df = data.loc[data['I_code'].isin(pop_code)].drop(['I_code'],axis=1).T.reset_index()
    df.columns = df.iloc[0]
    df = df[1:]
    df = df.rename(columns={"Indicator": 'geo_version' , "Population, male": 'male',"Population, female":'female' })
    df['geo_code'] = 'KE'

    df = df.melt(id_vars=['geo_code','geo_version'], value_vars=['female','male'],
                var_name='sex', value_name='total')
    population = df.set_index(['geo_code','geo_version']).sort_index() 
    
    return population

# Prevalence of HIV,(% ages 15-24)

def hiv_prevalence():
    hiv_code = ['SH.HIV.1524.MA.ZS','SH.HIV.1524.FE.ZS']
    
    df = data.loc[data['I_code'].isin(hiv_code)].drop(['I_code'],axis=1).T.reset_index()
    df.columns = df.iloc[0]
    df = df[1:]
    df = df.rename(columns={"Indicator": 'geo_version' , "Prevalence of HIV, male (% ages 15-24)": 'male',
                            "Prevalence of HIV, female (% ages 15-24)":'female' })
    df['geo_code'] = 'KE'

    df = df.melt(id_vars=['geo_code','geo_version'], value_vars=['female','male'],
                var_name='sex', value_name='total')
    prevalence = df.set_index(['geo_code','geo_version']).sort_index() 
    
    return prevalence
    
# Infant and Under 5 Mortality Rate 

def infant_under_5_mortality():
    
    hiv_code = ['SP.DYN.IMRT.IN','SH.DYN.MORT']
    
    df = data.loc[data['I_code'].isin(hiv_code)].drop(['I_code'],axis=1).T.reset_index()
    df.columns = df.iloc[0]
    df = df[1:]
    df = df.rename(columns={"Indicator": 'geo_version' , "Mortality rate, infant (per 1,000 live births)": 'infant',
                            "Mortality rate, under-5 (per 1,000 live births)":'under_5' })
    df['geo_code'] = 'KE'

    df = df.melt(id_vars=['geo_code','geo_version'], value_vars=['infant','under_5'],
                var_name='mortality', value_name='total')
    infant_under_5 = df.set_index(['geo_code','geo_version']).sort_index() 
    
    return infant_under_5

# Adult Literacy rate

def adult_literacy_rate():
    
    lit_code = ['SE.ADT.LITR.FE.ZS','SE.ADT.LITR.MA.ZS']
    
    df = data.loc[data['I_code'].isin(lit_code)].drop(['I_code'],axis=1).T.reset_index()
    df.columns = df.iloc[0]
    df = df[1:]
    df = df.rename(columns={"Indicator": 'geo_version' , "Literacy rate, adult male (% of males ages 15 and above)": 'male',
                            "Literacy rate, adult female (% of females ages 15 and above)":'female' })
    df['geo_code'] = 'KE'

    df = df.melt(id_vars=['geo_code','geo_version'], value_vars=['female','male'],
                var_name='sex', value_name='total')
    literacy_rate = df.set_index(['geo_code','geo_version']).sort_index() 
    
    return literacy_rate

In [40]:
adult_literacy_rate()

                         sex    total
geo_code geo_version
KE       1990         female      NaN
         1990           male      NaN
         1991         female      NaN
         1991           male      NaN
         1992         female      NaN
         1992           male      NaN
         1993         female      NaN
         1993           male      NaN
         1994         female      NaN
         1994           male      NaN
         1995         female      NaN
         1995           male      NaN
         1996         female      NaN
         1996           male      NaN
         1997         female      NaN
         1997           male      NaN
         1998         female      NaN
         1998           male      NaN
         1999         female      NaN
         1999           male      NaN
         2000         female   77.893
         2000           male  87.4947
         2001         female      NaN
         2001           male      NaN
         2002         female      NaN
         2002           male      NaN
         2003         female      NaN
         2003           male      NaN
         2004         female      NaN
         2004           male      NaN
         2005         female      NaN
         2005           male      NaN
         2006         female      NaN
         2006           male      NaN
         2007         female  66.8631
         2007           male  78.0791
         2008         female      NaN
         2008           male      NaN
         2009         female      NaN
         2009           male      NaN
         2010         female      NaN
         2010           male      NaN
         2011         female      NaN
         2011           male      NaN
         2012         female      NaN
         2012           male      NaN
         2013         female      NaN
         2013           male      NaN
         2014         female  74.0063
         2014           male   83.778
         2015         female      NaN
         2015           male      NaN
         2016         female      NaN
         2016           male      NaN
         2017         female      NaN
         2017           male      NaN
         2018         female      NaN
         2018           male      NaN